.jumbotron {
    background-image: url(food.jpg);
    filter: brightness(70%);
    height: 770px;
    text-align: center;
    background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
   }

.jumbotron .display-4{
    color: white;
}
   
.jumbotron .lead {
    color: white;
}
   
.jumbotron p {
    color: white;
}

.text {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}